/*! CSS Used from: https://jobi-nextjs.vercel.app/_next/static/css/d6198bcf2c342a81.css */
.__variable_e76efa {
  --gorditas-font: "__gordita_e76efa", "__gordita_Fallback_e76efa";
}
.__variable_95782f {
  --eb_garamond-font: "__EB_Garamond_95782f", "__EB_Garamond_Fallback_95782f";
}
*,
:after,
:before {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h2,
h4,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  color: var(--bs-heading-color);
}
h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}
h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}
h6 {
  font-size: 1rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
ul {
  padding-left: 2rem;
}
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
ul ul {
  margin-bottom: 0;
}
a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: underline;
}
a:hover {
  --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
}
img {
  vertical-align: middle;
}
button {
  border-radius: 0;
}
button:focus:not(:focus-visible) {
  outline: 0;
}
button,
input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  text-transform: none;
}
[type="button"],
/*button {
  -webkit-appearance: button;
}*/
[type="button"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
.col-6 {
  flex: 0 0 auto;
  width: 50%;
}
@media (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
}
.fade {
  transition: opacity 0.15s linear;
}
@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}
.fade:not(.show) {
  opacity: 0;
}
.dropdown-toggle {
  white-space: nowrap;
}
.dropdown-toggle:after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.dropdown-toggle:empty:after {
  margin-left: 0;
}
.dropdown-menu {
  --bs-dropdown-zindex: 1000;
  --bs-dropdown-min-width: 10rem;
  --bs-dropdown-padding-x: 0;
  --bs-dropdown-padding-y: 0.5rem;
  --bs-dropdown-spacer: 0.125rem;
  --bs-dropdown-font-size: 1rem;
  --bs-dropdown-color: var(--bs-body-color);
  --bs-dropdown-bg: var(--bs-body-bg);
  --bs-dropdown-border-color: var(--bs-border-color-translucent);
  --bs-dropdown-border-radius: var(--bs-border-radius);
  --bs-dropdown-border-width: var(--bs-border-width);
  --bs-dropdown-inner-border-radius: calc(
    var(--bs-border-radius) - var(--bs-border-width)
  );
  --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
  --bs-dropdown-divider-margin-y: 0.5rem;
  --bs-dropdown-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-dropdown-link-color: var(--bs-body-color);
  --bs-dropdown-link-hover-color: var(--bs-body-color);
  --bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
  --bs-dropdown-link-active-color: #fff;
  --bs-dropdown-link-active-bg: #0d6efd;
  --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
  --bs-dropdown-item-padding-x: 1rem;
  --bs-dropdown-item-padding-y: 0.25rem;
  --bs-dropdown-header-color: #6c757d;
  --bs-dropdown-header-padding-x: 1rem;
  --bs-dropdown-header-padding-y: 0.5rem;
  position: absolute;
  z-index: var(--bs-dropdown-zindex);
  display: none;
  min-width: var(--bs-dropdown-min-width);
  padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
  margin: 0;
  font-size: var(--bs-dropdown-font-size);
  color: var(--bs-dropdown-color);
  text-align: left;
  list-style: none;
  background-color: var(--bs-dropdown-bg);
  background-clip: padding-box;
  border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
  border-radius: var(--bs-dropdown-border-radius);
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  clear: both;
  font-weight: 400;
  color: var(--bs-dropdown-link-color);
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  border-radius: var(--bs-dropdown-item-border-radius, 0);
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: var(--bs-dropdown-link-hover-color);
  background-color: var(--bs-dropdown-link-hover-bg);
}
.dropdown-item:active {
  color: var(--bs-dropdown-link-active-color);
  text-decoration: none;
  background-color: var(--bs-dropdown-link-active-bg);
}
.dropdown-item:disabled {
  color: var(--bs-dropdown-link-disabled-color);
  pointer-events: none;
  background-color: transparent;
}
.btn-close {
  --bs-btn-close-color: #000;
  --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
  --bs-btn-close-opacity: 0.5;
  --bs-btn-close-hover-opacity: 0.75;
  --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-btn-close-focus-opacity: 1;
  --bs-btn-close-disabled-opacity: 0.25;
  --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em;
  background: transparent var(--bs-btn-close-bg) center/1em auto no-repeat;
  border: 0;
  border-radius: 0.375rem;
  opacity: var(--bs-btn-close-opacity);
}
.btn-close,
.btn-close:hover {
  color: var(--bs-btn-close-color);
}
.btn-close:hover {
  text-decoration: none;
  opacity: var(--bs-btn-close-hover-opacity);
}
.btn-close:focus {
  outline: 0;
  box-shadow: var(--bs-btn-close-focus-shadow);
  opacity: var(--bs-btn-close-focus-opacity);
}
.btn-close:disabled {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  opacity: var(--bs-btn-close-disabled-opacity);
}
.modal {
  --bs-modal-zindex: 1055;
  --bs-modal-width: 500px;
  --bs-modal-padding: 1rem;
  --bs-modal-margin: 0.5rem;
  --bs-modal-bg: var(--bs-body-bg);
  --bs-modal-border-color: var(--bs-border-color-translucent);
  --bs-modal-border-width: var(--bs-border-width);
  --bs-modal-border-radius: var(--bs-border-radius-lg);
  --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-modal-inner-border-radius: calc(
    var(--bs-border-radius-lg) - (var(--bs-border-width))
  );
  --bs-modal-header-padding-x: 1rem;
  --bs-modal-header-padding-y: 1rem;
  --bs-modal-header-padding: 1rem 1rem;
  --bs-modal-header-border-color: var(--bs-border-color);
  --bs-modal-header-border-width: var(--bs-border-width);
  --bs-modal-title-line-height: 1.5;
  --bs-modal-footer-gap: 0.5rem;
  --bs-modal-footer-border-color: var(--bs-border-color);
  --bs-modal-footer-border-width: var(--bs-border-width);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-modal-zindex);
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: var(--bs-modal-margin);
  pointer-events: none;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translateY(-50px);
}
@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}
.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - var(--bs-modal-margin) * 2);
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
}
@media (min-width: 576px) {
  .modal {
    --bs-modal-margin: 1.75rem;
    --bs-modal-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  .modal-dialog {
    max-width: var(--bs-modal-width);
    margin-right: auto;
    margin-left: auto;
  }
}
.modal-fullscreen {
  width: 100vw;
  max-width: none;
  height: 100%;
  margin: 0;
}
.modal-fullscreen .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}
.d-block {
  display: block !important;
}
.d-flex {
  display: flex !important;
}
.d-inline-flex {
  display: inline-flex !important;
}
.position-relative {
  position: relative !important;
}
.w-100 {
  width: 100% !important;
}
.h-100 {
  height: 100% !important;
}
.flex-fill {
  flex: 1 1 auto !important;
}
.flex-column {
  flex-direction: column !important;
}
.justify-content-end {
  justify-content: flex-end !important;
}
.justify-content-center {
  justify-content: center !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.align-items-center {
  align-items: center !important;
}
.m-auto {
  margin: auto !important;
}
.me-3 {
  margin-right: 1rem !important;
}
.me-4 {
  margin-right: 1.5rem !important;
}
.me-auto {
  margin-right: auto !important;
}
.mb-5 {
  margin-bottom: 3rem !important;
}
.ms-2 {
  margin-left: 0.5rem !important;
}
.ms-3 {
  margin-left: 1rem !important;
}
.pe-5 {
  padding-right: 3rem !important;
}
.ps-1 {
  padding-left: 0.25rem !important;
}
.ps-2 {
  padding-left: 0.5rem !important;
}
.ps-5 {
  padding-left: 3rem !important;
}
.text-center {
  text-align: center !important;
}
.bg-white {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}
.rounded-circle {
  border-radius: 50% !important;
}
@media (min-width: 576px) {
  .d-sm-flex {
    display: flex !important;
  }
  .order-sm-0 {
    order: 0 !important;
  }
  .order-sm-1 {
    order: 1 !important;
  }
}
@media (min-width: 768px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-none {
    display: none !important;
  }
  .ms-md-5 {
    margin-left: 3rem !important;
  }
  .text-md-center {
    text-align: center !important;
  }
}
.bi:before,
[class*=" bi-"]:before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: inherit;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bi-arrow-up-short:before {
  content: "";
}
.bi-x-lg:before {
  content: "";
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #d2f34c;
  border-radius: 0;
}
body {
  font-family: var(--gorditas-font);
  font-weight: 400;
  font-size: 16px;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
}
.main-page-wrapper {
  overflow-x: hidden;
}
h2,
h4,
h6 {
  font-family: var(--eb_garamond-font);
  font-weight: 500;
  color: #000;
}
h2 {
  font-size: 70px;
  line-height: 1.041em;
}
p {
  line-height: 2em;
}
.fw-500 {
  font-weight: 500;
}
.scroll-top {
  width: 35px;
  height: 35px;
  line-height: 35px;
  position: fixed;
  bottom: 20px;
  right: 5px;
  z-index: 99;
  text-align: center;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  border-radius: 50%;
  background: #00bf58;
  transition: all 0.3s ease-in-out;
}
.scroll-top:after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 1;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.25) 0,
    transparent 80%
  );
}
.tran3s {
  transition: all 0.3s ease-in-out;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
a:focus,
a:hover,
a:visited {
  text-decoration: none;
  outline: none;
}
img {
  max-width: 100%;
}
button,
img {
  display: block;
}
button {
  border: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  color: inherit;
}
button,
button:focus {
  outline: none;
}
input {
  outline: none;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
}
.style-none {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.pt-15 {
  padding-top: 15px;
}
.pt-50 {
  padding-top: 50px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-50 {
  margin-top: 50px;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.mb-15 {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .lg-pt-10 {
    padding-top: 10px !important;
  }
}
.modal .modal-dialog {
  height: auto;
}
.modal .modal-dialog .modal-content {
  margin: 40px auto;
}
.dash-aside-navbar {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  bottom: 0;
  min-height: 100vh;
  overflow-y: auto;
  width: 260px;
  background: #fff;
  padding: 30px 20px;
}
.dash-aside-navbar::-webkit-scrollbar {
  width: 5px;
}
.dash-aside-navbar::-webkit-scrollbar-track {
  background: #fff;
}
.dash-aside-navbar::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 0;
}
.dash-aside-navbar .user-data .user-avatar {
  width: 75px;
  height: 75px;
  margin: 40px auto 0;
}
.dash-aside-navbar .user-data .user-avatar img {
  border-radius: 50%;
}
.dash-aside-navbar .user-data .user-avatar.online:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #29d259;
  border: 3px solid #fff;
  right: -3px;
  bottom: 10px;
  z-index: 1;
}
.dash-aside-navbar .user-data .user-name-data .dropdown-menu {
  width: 100%;
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 12px 0;
}
.dash-aside-navbar .user-data .user-name-data .dropdown-menu .dropdown-item {
  text-transform: capitalize;
  line-height: 45px;
  padding: 0 5px 0 20px;
  color: #254035;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.16px;
  background: transparent;
  position: relative;
  letter-spacing: -0.1px;
  transition: all 0.2s ease-in-out 0s;
}
.dash-aside-navbar
  .user-data
  .user-name-data
  .dropdown-menu
  .dropdown-item:hover {
  color: #31795a;
  background: rgba(0, 0, 0, 0.01);
}
.dash-aside-navbar
  .user-data
  .user-name-data
  .dropdown-menu
  .dropdown-item
  img {
  width: 20px;
}
.dash-aside-navbar .user-data .user-name {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  color: #244034;
  margin: 15px 0 45px;
}
.dash-aside-navbar .user-data .user-name:after {
  vertical-align: 3px;
}
.dash-aside-navbar .dasboard-main-nav li a {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.16px;
  color: #244034;
  padding: 20px 5px 20px 20px;
  border-radius: 15px;
  transition: all 0.25s ease-in-out 0s;
}
.dash-aside-navbar .dasboard-main-nav li a span {
  padding-left: 10px;
}
.dash-aside-navbar .dasboard-main-nav li a:hover {
  color: #3c8968;
}
.dash-aside-navbar .dasboard-main-nav li a.active {
  background: #3f634d;
  color: #fff;
}
.dash-aside-navbar .dasboard-main-nav li a img {
  max-width: 20px;
}
.dash-aside-navbar .profile-complete-status {
  margin: 60px 0 75px 20px;
}
.dash-aside-navbar .profile-complete-status .progress-value {
  color: #244034;
}
.dash-aside-navbar .profile-complete-status .progress-line {
  height: 5px;
  border-radius: 10px;
  background: #3f634d;
  overflow: hidden;
  margin: 9px 0 3px;
}
.dash-aside-navbar .profile-complete-status .progress-line .inner-line {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: #d3fa38;
}
.dash-aside-navbar .profile-complete-status p {
  font-size: 11px;
  font-weight: 500;
  margin: 0;
  color: rgba(36, 64, 52, 0.5);
}
.dash-aside-navbar .logout-btn {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.16px;
  color: #244034;
  margin-left: 20px;
  transition: all 0.25s ease-in-out 0s;
}
.dash-aside-navbar .logout-btn span {
  padding-left: 10px;
}
.dash-aside-navbar .logout-btn:hover {
  color: #ff5656;
}
.dash-aside-navbar .close-btn {
  font-size: 22px;
  font-weight: 700;
  color: #244034;
}
.dashboard-body {
  min-height: 100vh;
  background: #f0f5f3;
  margin-left: 260px;
  border-radius: 50px 0 0 50px;
  padding: 150px 55px 50px;
}
.dashboard-body .border-20 {
  border-radius: 20px;
}
.dashboard-body .border-30 {
  border-radius: 30px;
}
.dashboard-body .main-title {
  font-family: var(--gorditas-font);
  font-size: 36px;
  color: #244034;
  margin-bottom: 40px;
}
.dashboard-body .dash-title-two {
  font-family: var(--gorditas-font);
  font-size: 20px;
  color: #244034;
  border-bottom: 1px solid #e3f0eb;
  padding: 25px 0 25px 30px;
  margin: 0;
}
.dashboard-body .dashboard-header {
  position: fixed;
  top: 0;
  right: 55px;
  left: 315px;
  background: #f0f5f3;
  padding: 30px 0;
  z-index: 999;
}
.dashboard-body .dashboard-header .search-form {
  position: relative;
  height: 45px;
  width: 318px;
}
.dashboard-body .dashboard-header .search-form input {
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 25px;
  padding: 0 15px 0 45px;
  background: rgba(0, 0, 0, 0.05);
}
.dashboard-body .dashboard-header .search-form button {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  border-radius: 25px 0 0 25px;
}
.dashboard-body .dashboard-header .profile-notification .noti-btn {
  height: 45px;
  position: relative;
}
.dashboard-body .dashboard-header .profile-notification .noti-btn:after {
  display: none;
}
.dashboard-body .dashboard-header .profile-notification .noti-btn .badge-pill {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #ff2730;
  top: 4px;
  right: -7px;
}
.dashboard-body .dashboard-header .profile-notification .dropdown-menu {
  max-width: 325px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 50px 100px rgba(0, 0, 0, 0.12);
  padding: 25px 18px 30px 22px;
}
.dashboard-body .dashboard-header .profile-notification .dropdown-menu h4 {
  font-family: var(--gorditas-font);
  font-size: 18px;
  margin-bottom: 20px;
}
.dashboard-body
  .dashboard-header
  .profile-notification
  .dropdown-menu
  .notify-list
  li {
  position: relative;
  padding-right: 10px;
  cursor: pointer;
  margin-top: 17px;
}
.dashboard-body
  .dashboard-header
  .profile-notification
  .dropdown-menu
  .notify-list
  li:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #d8d8d8;
  border-radius: 50%;
  right: 0;
  top: 5px;
}
.dashboard-body
  .dashboard-header
  .profile-notification
  .dropdown-menu
  .notify-list
  li.unread:before {
  background: #ff2730;
}
.dashboard-body
  .dashboard-header
  .profile-notification
  .dropdown-menu
  .notify-list
  li
  h6 {
  font-family: var(--gorditas-font);
  font-size: 15px;
  margin-bottom: 3px;
  letter-spacing: -0.2px;
  color: rgba(0, 0, 0, 0.6);
  width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.dashboard-body
  .dashboard-header
  .profile-notification
  .dropdown-menu
  .notify-list
  li.unread
  h6 {
  color: #000;
}
.dashboard-body
  .dashboard-header
  .profile-notification
  .dropdown-menu
  .notify-list
  li
  .time {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
.dashboard-body .dashboard-header .job-post-btn {
  font-weight: 500;
  color: #fff;
  text-align: center;
  width: 135px;
  line-height: 45px;
  border-radius: 50px;
  background: #244034;
}
.dashboard-body .dashboard-header .job-post-btn:hover {
  background: #d2f34c;
  color: #244034;
}
.dashboard-body .dashboard-header .dash-mobile-nav-toggler {
  width: 44px;
  height: 38px;
  padding: 0;
  box-shadow: none;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 5px;
}
.dashboard-body .dashboard-header .dash-mobile-nav-toggler:focus {
  box-shadow: none;
}
.dashboard-body .dashboard-header .dash-mobile-nav-toggler:after,
.dashboard-body .dashboard-header .dash-mobile-nav-toggler:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 26px;
  height: 2px;
  pointer-events: none;
  transition: transform 0.25s;
  transform-origin: 50% 50%;
  background: #244034;
}
.dashboard-body .dashboard-header .dash-mobile-nav-toggler span {
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 26px;
  height: 2px;
  margin-top: -1px;
  text-indent: 200%;
  transition: opacity 0.25s;
  background: #244034;
}
.dashboard-body .dashboard-header .dash-mobile-nav-toggler:before {
  transform: translate3d(0, -9px, 0) scaleX(1);
}
.dashboard-body .dashboard-header .dash-mobile-nav-toggler:after {
  transform: translate3d(0, 8px, 0) scaleX(1);
}
.dashboard-body .dash-card-one {
  padding: 22px 35px 34px;
  z-index: 1;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.02);
}
.dashboard-body .dash-card-one:before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  bottom: -10px;
  border-radius: 30px;
  z-index: -1;
  background: hsla(0, 0%, 100%, 0.6);
}
.dashboard-body .dash-card-one .icon {
  width: 65px;
  height: 65px;
  background: #d2f34c;
}
.dashboard-body .dash-card-one .value {
  font-size: 36px;
  letter-spacing: -0.36px;
  color: #244034;
}
.dashboard-body .dash-card-one span {
  color: rgba(0, 0, 0, 0.5);
}
.dashboard-body .recent-job-tab .wrapper {
  padding: 0 25px 8px 30px;
}
.dashboard-body .recent-job-tab .wrapper .job-item-list {
  position: relative;
  padding-right: 25px;
  margin: 40px 0;
}
.dashboard-body .recent-job-tab .wrapper .job-item-list:first-child {
  margin-top: 30px;
}
.dashboard-body .recent-job-tab .wrapper .job-item-list .logo {
  width: 40px;
}
.dashboard-body .recent-job-tab .wrapper .job-item-list .job-title {
  width: calc(100% - 40px);
  padding-left: 22px;
}
.dashboard-body .recent-job-tab .wrapper .job-item-list .job-title h6 a {
  font-family: var(--gorditas-font);
  font-size: 16px;
  color: #244034;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.2s ease-in-out 0s;
}
.dashboard-body .recent-job-tab .wrapper .job-item-list .job-title h6 a:hover {
  text-decoration: underline;
  color: #31795a;
}
.dashboard-body .recent-job-tab .wrapper .job-item-list .job-title .meta {
  font-size: 14px;
  color: rgba(36, 64, 52, 0.5);
}
.dashboard-body .recent-job-tab .wrapper .job-item-list .job-action {
  position: absolute;
  top: 0;
  right: 0;
}
.dashboard-body
  .recent-job-tab
  .wrapper
  .job-item-list
  .job-action
  .dropdown-menu {
  min-width: 120px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}
.dashboard-body
  .recent-job-tab
  .wrapper
  .job-item-list
  .job-action
  .dropdown-menu
  .dropdown-item {
  font-weight: 500;
  font-size: 13px;
  padding: 5px 15px;
  margin: 4px 0;
  color: rgba(37, 64, 53, 0.55);
  background: #fff;
}
.dashboard-body
  .recent-job-tab
  .wrapper
  .job-item-list
  .job-action
  .dropdown-menu
  li:last-child
  .dropdown-item {
  color: #ff5b5b;
}
.dashboard-body
  .recent-job-tab
  .wrapper
  .job-item-list
  .job-action
  .action-btn {
  padding: 8px;
}
.dashboard-body
  .recent-job-tab
  .wrapper
  .job-item-list
  .job-action
  .action-btn
  span {
  display: block;
  position: relative;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: rgba(43, 43, 43, 0.35);
}
.dashboard-body
  .recent-job-tab
  .wrapper
  .job-item-list
  .job-action
  .action-btn
  span:after,
.dashboard-body
  .recent-job-tab
  .wrapper
  .job-item-list
  .job-action
  .action-btn
  span:before {
  content: "";
  position: absolute;
  top: 0;
  left: -7px;
  margin: 0;
  padding: 0;
  width: 4px;
  height: 4px;
  border: none;
  border-radius: 50%;
  background: rgba(43, 43, 43, 0.35);
}
.dashboard-body
  .recent-job-tab
  .wrapper
  .job-item-list
  .job-action
  .action-btn
  span:after {
  left: auto;
  right: -7px;
}
.dashboard-body
  .recent-job-tab
  .wrapper
  .job-item-list
  .job-action
  .action-btn:after {
  display: none;
}
.dashboard-body
  .recent-job-tab
  .wrapper
  .job-item-list
  .job-action
  .action-btn:hover
  span,
.dashboard-body
  .recent-job-tab
  .wrapper
  .job-item-list
  .job-action
  .action-btn:hover
  span:after,
.dashboard-body
  .recent-job-tab
  .wrapper
  .job-item-list
  .job-action
  .action-btn:hover
  span:before {
  background: #00bf58;
}
.remove-account-popup {
  background: #fff;
  margin: 0 auto;
  max-width: 630px;
  border-radius: 10px !important;
  padding: 50px 20px;
}
.remove-account-popup h2 {
  font-family: var(--gorditas-font);
  font-size: 36px;
  color: #254035;
  margin: 20px 0;
}
.remove-account-popup .confirm-btn {
  width: 80px;
  line-height: 40px;
  border-radius: 6px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background: #31795a;
}
.remove-account-popup .confirm-btn:hover {
  background: #ff5b5b;
}
.remove-account-popup .btn-close {
  background: none;
  border-radius: 0;
  width: auto;
  height: auto;
  padding: 0;
  font-size: 16px;
  color: #000;
  opacity: 1;
  box-shadow: none;
}
img:focus {
  outline: none;
}
@media (min-width: 992px) {
  .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  h2 {
    font-size: 62px;
  }
}
@media (max-width: 1199px) {
  body {
    font-size: 15px;
  }
}
@media (max-width: 991px) {
  h2 {
    font-size: 40px;
  }
}
@media (max-width: 1399px) {
  .dashboard-body .dash-card-one {
    padding: 18px 20px 22px;
  }
  .dashboard-body .dash-card-one .icon {
    width: 50px;
    height: 50px;
    padding: 15px;
  }
  .dashboard-body .dash-card-one .value {
    font-size: 30px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .dashboard-body {
    padding: 120px 40px 30px;
  }
  .dashboard-body .dashboard-header {
    left: 300px;
    padding: 20px 0;
  }
  .dashboard-body .main-title {
    font-size: 30px;
    margin-bottom: 35px;
  }
}
@media (max-width: 1199px) {
  .dash-aside-navbar {
    padding: 20px 10px 10px;
  }
  .dash-aside-navbar .user-data .user-avatar {
    width: 55px;
    height: 55px;
    margin-top: 30px;
  }
  .dash-aside-navbar .user-data .user-name {
    font-size: 16px;
    margin: 12px 0 25px;
  }
  .dash-aside-navbar .user-data .user-name-data .dropdown-menu .dropdown-item {
    font-size: 14px;
    line-height: 40px;
  }
  .dash-aside-navbar .dasboard-main-nav li a img,
  .dash-aside-navbar
    .user-data
    .user-name-data
    .dropdown-menu
    .dropdown-item
    img {
    width: 17px;
  }
  .dash-aside-navbar .dasboard-main-nav li a {
    font-size: 15px;
    padding: 15px 5px 15px 15px;
    border-radius: 10px;
    margin-bottom: 2px;
  }
  .dash-aside-navbar .profile-complete-status {
    margin: 35px 0 40px 15px;
  }
  .dash-aside-navbar .logout-btn {
    font-size: 15px;
  }
  .dashboard-body {
    padding: 100px 15px 30px;
    border-radius: 15px 0 0 15px;
  }
  .dashboard-body .dashboard-header {
    padding: 15px 0;
  }
  .dashboard-body .main-title {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .dashboard-body .dash-card-one .value {
    font-size: 22px;
  }
  .dashboard-body .border-30,
  .dashboard-body .dash-card-one:before {
    border-radius: 15px;
  }
  .dashboard-body .dash-title-two {
    font-size: 18px;
    padding: 18px 0 18px 20px;
  }
  .dashboard-body .recent-job-tab .wrapper {
    padding: 0 20px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .dashboard-body .dashboard-header {
    right: 15px;
    left: 275px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .dashboard-body .dashboard-header {
    right: 15px;
    left: 275px;
  }
}
@media (max-width: 767px) {
  .dash-aside-navbar {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }
  .dashboard-body {
    margin: 0;
    border-radius: 0;
  }
  .dashboard-body .dashboard-header {
    left: 0;
    right: 0;
    border-bottom: 1px solid #e5e5e5;
    padding: 12px 15px;
  }
  .dashboard-body .dashboard-header .search-form {
    width: auto;
    height: 40px;
  }
  .dashboard-body .dashboard-header .job-post-btn {
    width: 110px;
    line-height: 40px;
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  .dashboard-body .dashboard-header .search-form {
    display: none;
  }
  .dashboard-body .dash-card-one {
    text-align: center;
  }
  .dashboard-body .dash-card-one .icon {
    margin: 0 auto 15px;
  }
  .dashboard-body .dashboard-header .profile-notification .dropdown-menu {
    max-width: 300px;
    padding: 20px 15px;
  }
}
/*! CSS Used fontfaces */
@font-face {
  font-display: block;
  font-family: bootstrap-icons;
  src: url(https://jobi-nextjs.vercel.app/_next/static/media/bootstrap-icons.35e09da2.woff2)
      format("woff2"),
    url(https://jobi-nextjs.vercel.app/_next/static/media/bootstrap-icons.cb4c7c05.woff)
      format("woff");
}
