/*! CSS Used from: https://jobi-nextjs.vercel.app/_next/static/css/d6198bcf2c342a81.css */
*,
:after,
:before {
  box-sizing: border-box;
}
h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  color: var(--bs-heading-color);
}
h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: underline;
}
a:hover {
  --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
}
img {
  vertical-align: middle;
}
button {
  border-radius: 0;
}
button:focus:not(:focus-visible) {
  outline: 0;
}
button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  text-transform: none;
}
[type="button"],
button {
  -webkit-appearance: button;
}
[type="button"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
.btn-close {
  --bs-btn-close-color: #000;
  --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
  --bs-btn-close-opacity: 0.5;
  --bs-btn-close-hover-opacity: 0.75;
  --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-btn-close-focus-opacity: 1;
  --bs-btn-close-disabled-opacity: 0.25;
  --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em;
  background: transparent var(--bs-btn-close-bg) center/1em auto no-repeat;
  border: 0;
  border-radius: 0.375rem;
  opacity: var(--bs-btn-close-opacity);
}
.btn-close,
.btn-close:hover {
  color: var(--bs-btn-close-color);
}
.btn-close:hover {
  text-decoration: none;
  opacity: var(--bs-btn-close-hover-opacity);
}
.btn-close:focus {
  outline: 0;
  box-shadow: var(--bs-btn-close-focus-shadow);
  opacity: var(--bs-btn-close-focus-opacity);
}
.btn-close:disabled {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  opacity: var(--bs-btn-close-disabled-opacity);
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
}
.modal-fullscreen .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}
.d-inline-flex {
  display: inline-flex !important;
}
.justify-content-center {
  justify-content: center !important;
}
.align-items-center {
  align-items: center !important;
}
.m-auto {
  margin: auto !important;
}
.me-3 {
  margin-right: 1rem !important;
}
.ms-3 {
  margin-left: 1rem !important;
}
.text-center {
  text-align: center !important;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #d2f34c;
  border-radius: 0;
}
h2 {
  font-family: var(--eb_garamond-font);
  font-weight: 500;
  color: #000;
}
h2 {
  font-size: 70px;
  line-height: 1.041em;
}
p {
  line-height: 2em;
}
.fw-500 {
  font-weight: 500;
}
.tran3s {
  transition: all 0.3s ease-in-out;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
a:focus,
a:hover,
a:visited {
  text-decoration: none;
  outline: none;
}
img {
  max-width: 100%;
}
button,
img {
  display: block;
}
button {
  border: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  color: inherit;
}
button,
button:focus {
  outline: none;
}
.pt-15 {
  padding-top: 15px;
}
.modal .modal-dialog .modal-content {
  margin: 40px auto;
}
.remove-account-popup {
  background: #fff;
  margin: 0 auto;
  max-width: 630px;
  border-radius: 10px !important;
  padding: 50px 20px;
}
.remove-account-popup h2 {
  font-family: var(--gorditas-font);
  font-size: 36px;
  color: #254035;
  margin: 20px 0;
}
.remove-account-popup .confirm-btn {
  width: 80px;
  line-height: 40px;
  border-radius: 6px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background: #31795a;
}
.remove-account-popup .confirm-btn:hover {
  background: #ff5b5b;
}
.remove-account-popup .btn-close {
  background: none;
  border-radius: 0;
  width: auto;
  height: auto;
  padding: 0;
  font-size: 16px;
  color: #000;
  opacity: 1;
  box-shadow: none;
}
img:focus {
  outline: none;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  h2 {
    font-size: 62px;
  }
}
@media (max-width: 991px) {
  h2 {
    font-size: 40px;
  }
}
