/*! CSS Used from: https://jobi-nextjs.vercel.app/_next/static/css/d6198bcf2c342a81.css */
*,
:after,
:before {
  box-sizing: border-box;
}
h2,
h4,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  color: var(--bs-heading-color);
}
h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}
h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}
h6 {
  font-size: 1rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
ul {
  padding-left: 2rem;
}
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
ul ul {
  margin-bottom: 0;
}
a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: underline;
}
a:hover {
  --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
}
img {
  vertical-align: middle;
}
button {
  border-radius: 0;
}
button:focus:not(:focus-visible) {
  outline: 0;
}
button,
input,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  text-transform: none;
}
[role="button"] {
  cursor: pointer;
}
[type="button"],
button {
  -webkit-appearance: button;
}
[type="button"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
textarea {
  resize: vertical;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
.gx-0 {
  --bs-gutter-x: 0;
}
@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.input-group:not(.has-validation)
  > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: calc(var(--bs-border-width) * -1);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.collapse:not(.show) {
  display: none;
}
.dropdown-toggle {
  white-space: nowrap;
}
.dropdown-toggle:after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.dropdown-toggle:empty:after {
  margin-left: 0;
}
.dropdown-menu {
  --bs-dropdown-zindex: 1000;
  --bs-dropdown-min-width: 10rem;
  --bs-dropdown-padding-x: 0;
  --bs-dropdown-padding-y: 0.5rem;
  --bs-dropdown-spacer: 0.125rem;
  --bs-dropdown-font-size: 1rem;
  --bs-dropdown-color: var(--bs-body-color);
  --bs-dropdown-bg: var(--bs-body-bg);
  --bs-dropdown-border-color: var(--bs-border-color-translucent);
  --bs-dropdown-border-radius: var(--bs-border-radius);
  --bs-dropdown-border-width: var(--bs-border-width);
  --bs-dropdown-inner-border-radius: calc(
    var(--bs-border-radius) - var(--bs-border-width)
  );
  --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
  --bs-dropdown-divider-margin-y: 0.5rem;
  --bs-dropdown-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-dropdown-link-color: var(--bs-body-color);
  --bs-dropdown-link-hover-color: var(--bs-body-color);
  --bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
  --bs-dropdown-link-active-color: #fff;
  --bs-dropdown-link-active-bg: #0d6efd;
  --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
  --bs-dropdown-item-padding-x: 1rem;
  --bs-dropdown-item-padding-y: 0.25rem;
  --bs-dropdown-header-color: #6c757d;
  --bs-dropdown-header-padding-x: 1rem;
  --bs-dropdown-header-padding-y: 0.5rem;
  position: absolute;
  z-index: var(--bs-dropdown-zindex);
  display: none;
  min-width: var(--bs-dropdown-min-width);
  padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
  margin: 0;
  font-size: var(--bs-dropdown-font-size);
  color: var(--bs-dropdown-color);
  text-align: left;
  list-style: none;
  background-color: var(--bs-dropdown-bg);
  background-clip: padding-box;
  border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
  border-radius: var(--bs-dropdown-border-radius);
}
.dropdown-menu-end {
  --bs-position: end;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  clear: both;
  font-weight: 400;
  color: var(--bs-dropdown-link-color);
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  border-radius: var(--bs-dropdown-item-border-radius, 0);
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: var(--bs-dropdown-link-hover-color);
  background-color: var(--bs-dropdown-link-hover-bg);
}
.dropdown-item:active {
  color: var(--bs-dropdown-link-active-color);
  text-decoration: none;
  background-color: var(--bs-dropdown-link-active-bg);
}
.dropdown-item:disabled {
  color: var(--bs-dropdown-link-disabled-color);
  pointer-events: none;
  background-color: transparent;
}
.btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}
.btn-group {
  border-radius: var(--bs-border-radius);
}
.btn-close {
  --bs-btn-close-color: #000;
  --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
  --bs-btn-close-opacity: 0.5;
  --bs-btn-close-hover-opacity: 0.75;
  --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-btn-close-focus-opacity: 1;
  --bs-btn-close-disabled-opacity: 0.25;
  --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em;
  background: transparent var(--bs-btn-close-bg) center/1em auto no-repeat;
  border: 0;
  border-radius: 0.375rem;
  opacity: var(--bs-btn-close-opacity);
}
.btn-close,
.btn-close:hover {
  color: var(--bs-btn-close-color);
}
.btn-close:hover {
  text-decoration: none;
  opacity: var(--bs-btn-close-hover-opacity);
}
.btn-close:focus {
  outline: 0;
  box-shadow: var(--bs-btn-close-focus-shadow);
  opacity: var(--bs-btn-close-focus-opacity);
}
.btn-close:disabled {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  opacity: var(--bs-btn-close-disabled-opacity);
}
.offcanvas {
  --bs-offcanvas-zindex: 1045;
  --bs-offcanvas-width: 400px;
  --bs-offcanvas-height: 30vh;
  --bs-offcanvas-padding-x: 1rem;
  --bs-offcanvas-padding-y: 1rem;
  --bs-offcanvas-color: var(--bs-body-color);
  --bs-offcanvas-bg: var(--bs-body-bg);
  --bs-offcanvas-border-width: var(--bs-border-width);
  --bs-offcanvas-border-color: var(--bs-border-color-translucent);
  --bs-offcanvas-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-offcanvas-transition: transform 0.3s ease-in-out;
  --bs-offcanvas-title-line-height: 1.5;
}
.offcanvas {
  position: fixed;
  bottom: 0;
  z-index: var(--bs-offcanvas-zindex);
  display: flex;
  flex-direction: column;
  max-width: 100%;
  color: var(--bs-offcanvas-color);
  visibility: hidden;
  background-color: var(--bs-offcanvas-bg);
  background-clip: padding-box;
  outline: 0;
  transition: var(--bs-offcanvas-transition);
}
@media (prefers-reduced-motion: reduce) {
  .offcanvas {
    transition: none;
  }
}
.float-end {
  float: right !important;
}
.d-block {
  display: block !important;
}
.d-flex {
  display: flex !important;
}
.position-relative {
  position: relative !important;
}
.flex-fill {
  flex: 1 1 auto !important;
}
.justify-content-end {
  justify-content: flex-end !important;
}
.justify-content-center {
  justify-content: center !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.align-items-center {
  align-items: center !important;
}
.m-auto {
  margin: auto !important;
}
.me-2 {
  margin-right: 0.5rem !important;
}
.me-3 {
  margin-right: 1rem !important;
}
.me-4 {
  margin-right: 1.5rem !important;
}
.me-auto {
  margin-right: auto !important;
}
.mb-5 {
  margin-bottom: 3rem !important;
}
.ms-2 {
  margin-left: 0.5rem !important;
}
.ms-3 {
  margin-left: 1rem !important;
}
.pe-3 {
  padding-right: 1rem !important;
}
.pe-4 {
  padding-right: 1.5rem !important;
}
.ps-2 {
  padding-left: 0.5rem !important;
}
.ps-3 {
  padding-left: 1rem !important;
}
.ps-4 {
  padding-left: 1.5rem !important;
}
.text-center {
  text-align: center !important;
}
.text-reset {
  --bs-text-opacity: 1;
  color: inherit !important;
}
.bg-white {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}
.rounded-circle {
  border-radius: 50% !important;
}
@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
  .ms-md-5 {
    margin-left: 3rem !important;
  }
}
@media (min-width: 992px) {
  .ps-lg-4 {
    padding-left: 1.5rem !important;
  }
}
@media (min-width: 1400px) {
  .pe-xxl-4 {
    padding-right: 1.5rem !important;
  }
  .pe-xxl-5 {
    padding-right: 3rem !important;
  }
  .ps-xxl-4 {
    padding-left: 1.5rem !important;
  }
  .ps-xxl-5 {
    padding-left: 3rem !important;
  }
}
.bi:before,
[class*=" bi-"]:before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: inherit;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bi-chevron-left:before {
  content: "";
}
.bi-chevron-right:before {
  content: "";
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #d2f34c;
  border-radius: 0;
}
h2,
h4,
h6 {
  font-family: var(--eb_garamond-font);
  font-weight: 500;
  color: #000;
}
h2 {
  font-size: 70px;
  line-height: 1.041em;
}
p {
  line-height: 2em;
}
.fw-500 {
  font-weight: 500;
}
.tran3s {
  transition: all 0.3s ease-in-out;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
a:focus,
a:hover,
a:visited {
  text-decoration: none;
  outline: none;
}
img {
  max-width: 100%;
}
button,
img {
  display: block;
}
button {
  border: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  color: inherit;
}
button,
button:focus {
  outline: none;
}
input,
textarea {
  outline: none;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
}
.style-none {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.p0 {
  padding: 0 !important;
}
.m0 {
  margin: 0 !important;
}
.pt-20 {
  padding-top: 20px;
}
.pb-40 {
  padding-bottom: 40px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .md-mt-40 {
    margin-top: 40px !important;
  }
}
.dashboard-body {
  min-height: 100vh;
  background: #f0f5f3;
  margin-left: 260px;
  border-radius: 50px 0 0 50px;
  padding: 150px 55px 50px;
}
.dashboard-body .border-20 {
  border-radius: 20px;
}
.dashboard-body .card-box {
  padding: 45px 60px 50px;
}
.dashboard-body .main-title {
  font-family: var(--gorditas-font);
  font-size: 36px;
  color: #244034;
  margin-bottom: 40px;
}
.dashboard-body .dashboard-header {
  position: fixed;
  top: 0;
  right: 55px;
  left: 315px;
  background: #f0f5f3;
  padding: 30px 0;
  z-index: 999;
}
.dashboard-body .dashboard-header .search-form {
  position: relative;
  height: 45px;
  width: 318px;
}
.dashboard-body .dashboard-header .search-form input {
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 25px;
  padding: 0 15px 0 45px;
  background: rgba(0, 0, 0, 0.05);
}
.dashboard-body .dashboard-header .search-form button {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  border-radius: 25px 0 0 25px;
}
.dashboard-body .dashboard-header .profile-notification .noti-btn {
  height: 45px;
  position: relative;
}
.dashboard-body .dashboard-header .profile-notification .noti-btn:after {
  display: none;
}
.dashboard-body .dashboard-header .profile-notification .noti-btn .badge-pill {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #ff2730;
  top: 4px;
  right: -7px;
}
.dashboard-body .dashboard-header .profile-notification .dropdown-menu {
  max-width: 325px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 50px 100px rgba(0, 0, 0, 0.12);
  padding: 25px 18px 30px 22px;
}
.dashboard-body .dashboard-header .profile-notification .dropdown-menu h4 {
  font-family: var(--gorditas-font);
  font-size: 18px;
  margin-bottom: 20px;
}
.dashboard-body
  .dashboard-header
  .profile-notification
  .dropdown-menu
  .notify-list
  li {
  position: relative;
  padding-right: 10px;
  cursor: pointer;
  margin-top: 17px;
}
.dashboard-body
  .dashboard-header
  .profile-notification
  .dropdown-menu
  .notify-list
  li:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #d8d8d8;
  border-radius: 50%;
  right: 0;
  top: 5px;
}
.dashboard-body
  .dashboard-header
  .profile-notification
  .dropdown-menu
  .notify-list
  li.unread:before {
  background: #ff2730;
}
.dashboard-body
  .dashboard-header
  .profile-notification
  .dropdown-menu
  .notify-list
  li
  h6 {
  font-family: var(--gorditas-font);
  font-size: 15px;
  margin-bottom: 3px;
  letter-spacing: -0.2px;
  color: rgba(0, 0, 0, 0.6);
  width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.dashboard-body
  .dashboard-header
  .profile-notification
  .dropdown-menu
  .notify-list
  li.unread
  h6 {
  color: #000;
}
.dashboard-body
  .dashboard-header
  .profile-notification
  .dropdown-menu
  .notify-list
  li
  .time {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
.dashboard-body .dashboard-header .job-post-btn {
  font-weight: 500;
  color: #fff;
  text-align: center;
  width: 135px;
  line-height: 45px;
  border-radius: 50px;
  background: #244034;
}
.dashboard-body .dashboard-header .job-post-btn:hover {
  background: #d2f34c;
  color: #244034;
}
.dashboard-body .dashboard-header .dash-mobile-nav-toggler {
  width: 44px;
  height: 38px;
  padding: 0;
  box-shadow: none;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 5px;
}
.dashboard-body .dashboard-header .dash-mobile-nav-toggler:focus {
  box-shadow: none;
}
.dashboard-body .dashboard-header .dash-mobile-nav-toggler:after,
.dashboard-body .dashboard-header .dash-mobile-nav-toggler:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 26px;
  height: 2px;
  pointer-events: none;
  transition: transform 0.25s;
  transform-origin: 50% 50%;
  background: #244034;
}
.dashboard-body .dashboard-header .dash-mobile-nav-toggler span {
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 26px;
  height: 2px;
  margin-top: -1px;
  text-indent: 200%;
  transition: opacity 0.25s;
  background: #244034;
}
.dashboard-body .dashboard-header .dash-mobile-nav-toggler:before {
  transform: translate3d(0, -9px, 0) scaleX(1);
}
.dashboard-body .dashboard-header .dash-mobile-nav-toggler:after {
  transform: translate3d(0, 8px, 0) scaleX(1);
}
.dashboard-body .action-dots .dropdown-menu {
  min-width: 140px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}
.dashboard-body .action-dots .dropdown-menu .dropdown-item {
  padding: 0 15px;
  line-height: 34px;
  font-size: 14px;
  color: #6a6a6a;
  background: #fff;
}
.dashboard-body .action-dots .dropdown-menu li:last-child .dropdown-item:hover {
  color: #ff5b5b;
}
.dashboard-body .action-dots .action-btn {
  padding: 8px;
}
.dashboard-body .action-dots .action-btn span {
  display: block;
  position: relative;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: rgba(43, 43, 43, 0.35);
}
.dashboard-body .action-dots .action-btn span:after,
.dashboard-body .action-dots .action-btn span:before {
  content: "";
  position: absolute;
  top: -7px;
  left: 0;
  margin: 0;
  padding: 0;
  width: 4px;
  height: 4px;
  border: none;
  border-radius: 50%;
  background: rgba(43, 43, 43, 0.35);
}
.dashboard-body .action-dots .action-btn span:after {
  top: auto;
  bottom: -7px;
}
.dashboard-body .action-dots .action-btn:after {
  display: none;
}
.dashboard-body .action-dots .action-btn:hover span,
.dashboard-body .action-dots .action-btn:hover span:after,
.dashboard-body .action-dots .action-btn:hover span:before {
  background: #00bf58;
}
.dashboard-body .new-message-compose {
  width: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 28px;
  color: #3f634d;
  background: #d3fa38;
}
.dashboard-body .message-pagination a {
  color: #000;
}
.dashboard-body .message-pagination span {
  color: #000;
  font-size: 14px;
  margin: 0 8px;
}
.dashboard-body .message-wrapper .message-sidebar {
  border-right: 1px solid #e3e1e1;
  height: 100%;
}
.dashboard-body .message-wrapper .message-sidebar .page-title {
  font-size: 18px;
  color: #000;
}
.dashboard-body .message-wrapper .message-sidebar .action-btn span:after,
.dashboard-body .message-wrapper .message-sidebar .action-btn span:before {
  top: 0;
  left: -7px;
}
.dashboard-body .message-wrapper .message-sidebar .action-btn span:after {
  left: auto;
  right: -7px;
}
.dashboard-body .message-wrapper .message-sidebar .search-form {
  height: 50px;
  border-radius: 30px;
  position: relative;
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid #efefef;
}
.dashboard-body .message-wrapper .message-sidebar .search-form input {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: transparent;
  border: none;
  padding: 0 50px 0 15px;
  font-size: 15px;
}
.dashboard-body .message-wrapper .message-sidebar .search-form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  border-radius: 30px 0 0 30px;
}
.dashboard-body .message-wrapper .message-sidebar .message_filter button {
  font-size: 15px;
  font-weight: 500;
  color: #254035;
  line-height: 28px;
  border-radius: 30px;
  padding: 0 12px;
  margin: 0 2px;
  position: relative;
}
.dashboard-body .message-wrapper .message-sidebar .message_filter button span {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  left: -5px;
  top: 10px;
}
.dashboard-body
  .message-wrapper
  .message-sidebar
  .message_filter
  button.active {
  background: #31795a;
  color: #fff;
}
.dashboard-body .message-wrapper .message-sidebar .email-list-item {
  border-top: 1px solid #f3f3f3;
  padding-top: 28px;
  padding-bottom: 28px;
  cursor: pointer;
  position: relative;
}
.dashboard-body .message-wrapper .message-sidebar .email-list-item.selected {
  background: #f0f5f3;
  border-left: 4px solid #779e86;
  border-right: 4px solid #779e86;
}
.dashboard-body
  .message-wrapper
  .message-sidebar
  .email-list-item.selected
  .email-short-preview
  .file {
  background: #fff;
}
.dashboard-body
  .message-wrapper
  .message-sidebar
  .email-list-item.read
  .email-short-preview:before {
  background: #ff4545;
}
.dashboard-body
  .message-wrapper
  .message-sidebar
  .email-list-item.primary
  .email-short-preview:before {
  background: #52c1ff;
}
.dashboard-body
  .message-wrapper
  .message-sidebar
  .email-list-item
  .email-short-preview {
  padding-left: 24px;
}
.dashboard-body
  .message-wrapper
  .message-sidebar
  .email-list-item
  .email-short-preview:before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 7px;
  background: #3bda84;
}
.dashboard-body
  .message-wrapper
  .message-sidebar
  .email-list-item
  .email-short-preview
  .sender-name {
  font-size: 15px;
  font-weight: 500;
  color: rgba(63, 99, 77, 0.8);
}
.dashboard-body
  .message-wrapper
  .message-sidebar
  .email-list-item
  .email-short-preview
  .date {
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
}
.dashboard-body
  .message-wrapper
  .message-sidebar
  .email-list-item
  .email-short-preview
  .mail-sub {
  font-weight: 500;
  font-size: 16px;
  color: #000;
  margin: 7px 0 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.dashboard-body
  .message-wrapper
  .message-sidebar
  .email-list-item
  .email-short-preview
  .mail-text {
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.dashboard-body
  .message-wrapper
  .message-sidebar
  .email-list-item
  .email-short-preview
  .file {
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 12px;
  letter-spacing: -0.3px;
  color: rgba(0, 0, 0, 0.5);
  background: #f0f5f3;
}
.dashboard-body .message-wrapper .open-email-container .divider {
  border-bottom: 1px solid #eee;
}
.dashboard-body .message-wrapper .open-email-container .email-header {
  padding-top: 30px;
  padding-bottom: 30px;
}
.dashboard-body .message-wrapper .open-email-container .email-header .logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.dashboard-body
  .message-wrapper
  .open-email-container
  .email-header
  .sender-name {
  font-size: 20px;
  font-weight: 500;
  color: #254035;
  margin-bottom: -4px;
}
.dashboard-body
  .message-wrapper
  .open-email-container
  .email-header
  .sender-email {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.4);
}
.dashboard-body .message-wrapper .open-email-container .email-header .time {
  font-size: 13px;
  color: rgba(36, 64, 52, 0.6);
  margin-bottom: 15px;
}
.dashboard-body .message-wrapper .open-email-container .email-body {
  padding-top: 35px;
  padding-bottom: 15px;
  font-size: 15px;
}
.dashboard-body .message-wrapper .open-email-container .email-body h2 {
  font-family: var(--gorditas-font);
  font-size: 24px;
  margin-bottom: 25px;
}
.dashboard-body .message-wrapper .open-email-container .email-body p a {
  color: #31795a;
}
.dashboard-body .message-wrapper .open-email-container .email-footer {
  padding-top: 20px;
}
.dashboard-body
  .message-wrapper
  .open-email-container
  .email-footer
  .attachments
  h6 {
  font-family: var(--gorditas-font);
  font-size: 15px;
}
.dashboard-body
  .message-wrapper
  .open-email-container
  .email-footer
  .attachments
  .all-download {
  font-size: 14px;
  font-weight: 500;
  color: #31795a;
}
.dashboard-body
  .message-wrapper
  .open-email-container
  .email-footer
  .attachments
  .file {
  padding: 9px 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-right: 15px;
}
.dashboard-body
  .message-wrapper
  .open-email-container
  .email-footer
  .attachments
  .file:hover {
  background: rgba(49, 121, 90, 0.03);
}
.dashboard-body
  .message-wrapper
  .open-email-container
  .email-footer
  .attachments
  .file
  .icon {
  width: 37px;
  height: 37px;
  background: #f0f5f3;
}
.dashboard-body
  .message-wrapper
  .open-email-container
  .email-footer
  .attachments
  .file
  .file-name {
  font-size: 15px;
  letter-spacing: -0.3px;
  color: #254035;
}
.dashboard-body
  .message-wrapper
  .open-email-container
  .email-footer
  .attachments
  .file
  .file-size {
  font-size: 13px;
  letter-spacing: -0.3px;
  color: rgba(36, 64, 52, 0.5);
}
.compose-new-email-container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: #fff;
}
.compose-new-email-container .new-email-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.compose-new-email-container .new-email-header .btn-group {
  position: absolute;
  top: 6px;
  right: 10px;
  z-index: 1;
}
.compose-new-email-container .new-email-header .btn-group a {
  font-size: 15px;
  padding: 2px;
  color: #254035;
  margin-left: 8px;
}
.compose-new-email-container .new-email-header .input-group {
  padding: 10px 0;
  font-size: 14px;
  color: #254035;
}
.compose-new-email-container .new-email-header .input-group input {
  border: none;
  padding: 0 15px 0 0;
}
.compose-new-email-container .compose-body textarea {
  width: 100%;
  max-width: 100%;
  height: 125px;
  max-height: 125px;
  border: none;
  font-size: 15px;
  padding: 15px 22px;
}
.compose-new-email-container .compose-email-footer {
  padding: 15px 22px;
}
.compose-new-email-container .compose-email-footer .insert-file {
  position: relative;
  cursor: pointer;
}
.compose-new-email-container .compose-email-footer .insert-file input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.compose-new-email-container .reply-btn {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  min-width: 90px;
  text-align: center;
  padding: 0 15px;
  line-height: 35px;
  border-radius: 50px;
  background: #244034;
}
.compose-new-email-container .reply-btn:hover {
  background: #d2f34c;
  color: #244034;
}
.compose-mail-offcanvas {
  right: 55px;
  bottom: 0;
  max-width: 700px;
  background: #fff;
  padding: 50px 15px 15px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.04);
  display: none;
}
.compose-mail-offcanvas .btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  box-shadow: none;
}
img:focus {
  outline: none;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  h2 {
    font-size: 62px;
  }
}
@media (max-width: 991px) {
  h2 {
    font-size: 40px;
  }
}
@media (max-width: 1399px) {
  .dashboard-body .message-wrapper .message-sidebar .message_filter button {
    font-size: 14px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .dashboard-body {
    padding: 120px 40px 30px;
  }
  .dashboard-body .dashboard-header {
    left: 300px;
    padding: 20px 0;
  }
  .dashboard-body .main-title {
    font-size: 30px;
    margin-bottom: 35px;
  }
  .dashboard-body .card-box {
    padding: 40px 45px;
  }
  .compose-mail-offcanvas {
    right: 40px;
  }
}
@media (max-width: 1199px) {
  .dashboard-body {
    padding: 100px 15px 30px;
    border-radius: 15px 0 0 15px;
  }
  .dashboard-body .dashboard-header {
    padding: 15px 0;
  }
  .dashboard-body .main-title {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .dashboard-body .card-box {
    padding: 25px 20px;
  }
  .dashboard-body
    .message-wrapper
    .message-sidebar
    .message_filter
    button
    span {
    left: 0;
  }
  .dashboard-body
    .message-wrapper
    .message-sidebar
    .email-list-item
    .email-short-preview {
    padding-left: 20px;
  }
  .dashboard-body .message-wrapper .open-email-container .email-header .logo {
    width: 35px;
    height: 35px;
  }
  .dashboard-body
    .message-wrapper
    .open-email-container
    .email-header
    .sender-name {
    font-size: 16px;
    margin-bottom: -2px;
  }
  .dashboard-body
    .message-wrapper
    .open-email-container
    .email-header
    .sender-email {
    font-size: 15px;
  }
  .dashboard-body .message-wrapper .open-email-container .email-body h2 {
    font-size: 20px;
  }
  .compose-mail-offcanvas {
    right: 15px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .dashboard-body .dashboard-header {
    right: 15px;
    left: 275px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .dashboard-body .dashboard-header {
    right: 15px;
    left: 275px;
  }
}
@media (max-width: 991px) {
  .dashboard-body .message-wrapper .open-email-container {
    background: #f0f5f3;
    margin: 20px 10px;
    border-radius: 10px;
  }
  .dashboard-body .message-wrapper .message-sidebar {
    border-right: none;
    border-bottom: 1px solid #e3e1e1;
    max-height: 500px;
    overflow-y: auto;
  }
  .dashboard-body .message-wrapper .message-sidebar .email-list-item {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .dashboard-body
    .message-wrapper
    .message-sidebar
    .email-list-item
    .email-short-preview
    .mail-text,
  .dashboard-body
    .message-wrapper
    .message-sidebar
    .email-list-item
    .email-short-preview
    .sender-name {
    font-size: 14px;
  }
  .dashboard-body
    .message-wrapper
    .message-sidebar
    .email-list-item
    .email-short-preview
    .mail-sub {
    font-size: 15px;
    margin-bottom: 5px;
  }
}
@media (max-width: 767px) {
  .dashboard-body {
    margin: 0;
    border-radius: 0;
  }
  .dashboard-body .dashboard-header {
    left: 0;
    right: 0;
    border-bottom: 1px solid #e5e5e5;
    padding: 12px 15px;
  }
  .dashboard-body .dashboard-header .search-form {
    width: auto;
    height: 40px;
  }
  .dashboard-body .dashboard-header .job-post-btn {
    width: 110px;
    line-height: 40px;
    font-size: 14px;
  }
  .compose-mail-offcanvas {
    left: 15px;
    width: auto;
  }
}
@media (max-width: 575px) {
  .dashboard-body .dashboard-header .search-form {
    display: none;
  }
  .dashboard-body .dashboard-header .profile-notification .dropdown-menu {
    max-width: 300px;
    padding: 20px 15px;
  }
}
/*! CSS Used fontfaces */
@font-face {
  font-display: block;
  font-family: bootstrap-icons;
  src: url(https://jobi-nextjs.vercel.app/_next/static/media/bootstrap-icons.35e09da2.woff2)
      format("woff2"),
    url(https://jobi-nextjs.vercel.app/_next/static/media/bootstrap-icons.cb4c7c05.woff)
      format("woff");
}
